

* {
    margin: 0;
    padding: 0;
    
}




body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.1) ,rgba(0, 0, 0, 1)),url(silva.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


main{
    margin: 0 15px 0 15px;  
}


.broad-close{
    padding-top: 58px; 
    display: flex;
    justify-content: center;
    margin-left: 50px;
}


.broad{
    width: 100%;
    height: 36px;
    position: relative;
    background-color: #EF0000;
    border-radius: 20px;
    border: 1px;
}

.broad-name{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 100%;
    padding: 5px 8px 5px 10px;
}


.close{
    padding-left: 30px;
}




.free-prem{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;

}


.free-prem-btn{
    width: 100%;
    height: 39px;
    border-radius: 6px;
}

.free-btn{
    background-image: linear-gradient(to right,#00B3FF,#A831FF);
    border: none;
}


.btn{
    display: flex;
    height: 15px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}



.prem-btn{
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, .2);
    
}




.video{
    flex-direction: column;  
    width: 15px;
    height: 15px;
    color: #FFFFFF;
    opacity: 100%;
}


.diamond{
    width: 15px;
    height: 15px;
    color: #FFFFFF;
    opacity: 100%;
}


.free-name{border-radius: 5px;
    font-family:  'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.prem-name{
    font-family:  'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 100%;
}



.photo-detail{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}



.photo{
    border-radius: 5px;
    background: rgba(0, 0, 0 , .2);
    width: 95px;
    height: 95px;
    display: flex;
    flex-direction: column;  
}


.picture{
    width: 32px;
    height: 30px;
    text-align: center;
    padding: 21px 32px 21px 32px;


}

.cover{
    width: 93px;
    height: 23px;
    padding-top: 3px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background: rgba(0, 0, 0 , .4);
}


.detail{
    display: flex;
    flex-direction: column;
}


.add{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}


.select-tag{
    padding-top: 30px;
    display: flex;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}


.arrow{
    width: 6%;
}



footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.magic-live{
    display: flex;
    gap: 15px;
    margin: 0 15px;

}


.go-live{
    width: 100%;
    height: 53px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 30px;
    background-image: linear-gradient(to right,rgb(67, 172, 253),#8F62E5);
    box-shadow: 0 2px 10px 0 rgba(67, 172, 253, 0.5), 0 3px 10px 0 rgba(67, 172, 253, 0.19);
}


.go{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}



.footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.magic{
    width: 53px;
    height: 53px;
}


.multi{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 50%;
}



.live{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}


.live-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}


